{% extends "base.html" %}

{% block extrahead %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4178943015883119"
     crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div style="text-align: center; margin-bottom: 1.5rem;">
  <a href="https://my.racknerd.com/aff.php?aff=5792" target="_blank">
    <img src="https://racknerd.com/banners/728x90.gif" alt="RackNerd Leaderboard Banner" width="728" height="90" style="max-width: 100%;">
  </a>
</div>
{{ super() }}
{% endblock %}
